Schemas/xgridfit.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         ns="http://xgridfit.sourceforge.net/Xgridfit2"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xmlns:xml="http://www.w3.org/XML/1998/namespace"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="YESNO">
    <choice>
      <value>yes</value>
      <value>no</value>
    </choice>
  </define>
  <define name="various">
    <choice>
      <ref name="message"/>
      <ref name="no-warning"/>
      <ref name="getinfo"/>
    </choice>
  </define>
  <define name="movements">
    <choice>
      <ref name="mirp"/>
      <ref name="mdrp"/>
      <ref name="miap"/>
      <ref name="mdap"/>
      <ref name="shift"/>
      <ref name="align"/>
      <ref name="move-point-to-intersection"/>
      <ref name="interpolate"/>
      <ref name="interpolate-untouched-points"/>
      <ref name="shift-absolute"/>
      <ref name="set-coordinate"/>
      <ref name="top.level.move"/>
      <ref name="diagonal-stem"/>
      <ref name="top.level.delta"/>
      <ref name="control-value-delta"/>
      <ref name="untouch"/>
      <ref name="toggle-points"/>
      <ref name="flip-on"/>
      <ref name="flip-off"/>
      <ref name="align-midway"/>
    </choice>
  </define>
  <define name="graphics">
    <choice>
      <ref name="set-vectors"/>
      <ref name="set-projection-vector"/>
      <ref name="set-freedom-vector"/>
      <ref name="store-projection-vector"/>
      <ref name="store-freedom-vector"/>
      <ref name="set-minimum-distance"/>
      <ref name="srp"/>
      <ref name="szp"/>
      <ref name="set-round-state"/>
      <ref name="disable-instructions"/>
      <ref name="enable-instructions"/>
      <ref name="set-dropout-control"/>
      <ref name="set-dropout-type"/>
      <ref name="set-control-value"/>
      <ref name="set-control-value-cut-in"/>
      <ref name="set-single-width-cut-in"/>
      <ref name="set-single-width"/>
      <ref name="set-auto-flip"/>
      <ref name="set-delta-base"/>
      <ref name="set-delta-shift"/>
      <ref name="set-dual-projection-vector"/>
      <ref name="with-vectors"/>
      <ref name="with-projection-vector"/>
      <ref name="with-freedom-vector"/>
      <ref name="with-minimum-distance"/>
      <ref name="with-round-state"/>
      <ref name="with-control-value"/>
      <ref name="with-control-value-cut-in"/>
      <ref name="with-single-width-cut-in"/>
      <ref name="with-single-width"/>
      <ref name="with-delta-base"/>
      <ref name="with-delta-shift"/>
      <ref name="restore-default"/>
    </choice>
  </define>
  <define name="vars">
    <choice>
      <ref name="set-equal"/>
      <ref name="add"/>
      <ref name="subtract"/>
      <ref name="divide"/>
      <ref name="multiply"/>
      <ref name="absolute"/>
      <ref name="negate"/>
      <ref name="floor"/>
      <ref name="ceiling"/>
      <ref name="minimum"/>
      <ref name="maximum"/>
      <ref name="round"/>
      <ref name="no-round"/>
      <ref name="control-value-index"/>
      <ref name="formula"/>
    </choice>
  </define>
  <define name="form.vars">
    <choice>
      <ref name="set-equal"/>
      <ref name="form.add"/>
      <ref name="form.subtract"/>
      <ref name="form.divide"/>
      <ref name="form.multiply"/>
      <ref name="form.absolute"/>
      <ref name="form.negate"/>
      <ref name="form.floor"/>
      <ref name="form.ceiling"/>
      <ref name="form.minimum"/>
      <ref name="form.maximum"/>
      <ref name="form.round"/>
      <ref name="form.no-round"/>
      <ref name="form.control-value-index"/>
    </choice>
  </define>
  <define name="flow">
    <choice>
      <ref name="call-function"/>
      <ref name="call-macro"/>
      <ref name="call-glyph"/>
      <ref name="call-param"/>
      <ref name="if"/>
      <ref name="compile-if"/>
    </choice>
  </define>
  <define name="measure">
    <choice>
      <ref name="measure-distance"/>
      <ref name="get-coordinate"/>
    </choice>
  </define>
  <define name="primitive">
    <choice>
      <ref name="command"/>
      <ref name="push"/>
      <ref name="to-stack"/>
    </choice>
  </define>
  <define name="programming">
    <choice>
      <ref name="various"/>
      <ref name="movements"/>
      <ref name="graphics"/>
      <ref name="vars"/>
      <ref name="flow"/>
      <ref name="measure"/>
      <ref name="primitive"/>
    </choice>
  </define>
  <define name="token.ps-name">
    <data type="token">
      <param name="pattern">\.notdef|[A-Za-z_][A-Za-z0-9_\.]{0,30}</param>
    </data>
  </define>
  <define name="att.value">
    <attribute>
      <name ns="">value</name>
      <text/>
    </attribute>
  </define>
  <define name="att.num">
    <attribute>
      <name ns="">num</name>
      <text/>
    </attribute>
  </define>
  <define name="att.name">
    <attribute>
      <name ns="">name</name>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="att.ref">
    <attribute>
      <name ns="">ref</name>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="att.target">
    <attribute>
      <name ns="">target</name>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="att.zone">
    <attribute>
      <name ns="">zone</name>
      <choice>
        <value>twilight</value>
        <value>glyph</value>
      </choice>
    </attribute>
  </define>
  <define name="att.color">
    <attribute>
      <name ns="">color</name>
      <choice>
        <value>gray</value>
        <value>black</value>
        <value>white</value>
      </choice>
    </attribute>
  </define>
  <define name="att.axis">
    <attribute>
      <name ns="">axis</name>
      <choice>
        <value>x</value>
        <value>y</value>
      </choice>
    </attribute>
  </define>
  <define name="att.unit">
    <attribute>
      <name ns="">unit</name>
      <choice>
        <value>pixel</value>
        <value>font</value>
      </choice>
    </attribute>
  </define>
  <define name="att.units.per.pixel">
    <attribute>
      <name ns="">units-per-pixel</name>
      <choice>
        <value>2</value>
        <value>4</value>
        <value>8</value>
        <value>16</value>
        <value>32</value>
        <value>64</value>
      </choice>
    </attribute>
  </define>
  <define name="att.to-line">
    <attribute>
      <name ns="">to-line</name>
      <choice>
        <value>orthogonal</value>
        <value>parallel</value>
      </choice>
    </attribute>
  </define>
  <define name="att.result-to">
    <attribute>
      <name ns="">result-to</name>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="att.test">
    <attribute>
      <name ns="">test</name>
      <text/>
    </attribute>
  </define>
  <define name="att.grid-fitted">
    <attribute>
      <name ns="">grid-fitted</name>
      <ref name="YESNO"/>
    </attribute>
  </define>
  <define name="att.whichpointer">
    <attribute>
      <name ns="">whichpointer</name>
      <text/>
    </attribute>
  </define>
  <define name="att.id">
    <attribute>
      <name ns="http://www.w3.org/XML/1998/namespace">id</name>
      <data type="ID"/>
    </attribute>
  </define>
  <define name="att.round">
    <attribute>
      <name ns="">round</name>
      <text/>
    </attribute>
  </define>
  <define name="att.set-rp0">
    <attribute>
      <name ns="">set-rp0</name>
      <ref name="YESNO"/>
    </attribute>
  </define>
  <define name="att.cut-in">
    <attribute>
      <name ns="">cut-in</name>
      <ref name="YESNO"/>
    </attribute>
  </define>
  <define name="att.compile-if">
    <attribute>
      <name ns="">compile-if</name>
      <text/>
    </attribute>
  </define>
  <define name="att.distance">
    <attribute>
      <name ns="">distance</name>
      <text/>
    </attribute>
  </define>
  <define name="att.pixel-distance">
    <attribute>
      <name ns="">pixel-distance</name>
      <text/>
    </attribute>
  </define>
  <define name="att.boolean.min-distance">
    <attribute>
      <name ns="">min-distance</name>
      <ref name="YESNO"/>
    </attribute>
  </define>
  <define name="att.value.min-distance">
    <attribute>
      <name ns="">min-distance</name>
      <text/>
    </attribute>
  </define>
  <define name="att.ps-name">
    <attribute>
      <name ns="">ps-name</name>
      <ref name="token.ps-name"/>
    </attribute>
  </define>
  <define name="attlist.single.op">
    <ref name="att.value"/>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="attlist.form.single.op">
    <optional>
      <ref name="att.value"/>
    </optional>
  </define>
  <define name="attlist.dual.op">
    <attribute>
      <name ns="">value1</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">value2</name>
      <text/>
    </attribute>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="attlist.form.dual.op">
    <optional>
      <attribute>
        <name ns="">value1</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">value2</name>
        <text/>
      </attribute>
    </optional>
  </define>
  <define name="attlist.value.with.name">
    <ref name="att.value"/>
    <ref name="att.name"/>
  </define>
  <define name="attlist.delta-set-basic">
    <attribute>
      <name ns="">size</name>
      <data type="nonNegativeInteger">
        <param name="maxInclusive">47</param>
      </data>
    </attribute>
    <attribute>
      <name ns="">distance</name>
      <data type="int">
        <param name="pattern">[\-]?[1-8]</param>
      </data>
    </attribute>
  </define>
  <define name="attlist.vector.components">
    <group>
      <attribute>
        <name ns="">x-component</name>
        <text/>
      </attribute>
      <attribute>
        <name ns="">y-component</name>
        <text/>
      </attribute>
    </group>
  </define>
  <define name="attlist.vector.store">
    <optional>
      <group>
        <attribute>
          <name ns="">x-component</name>
          <data type="NCName"/>
        </attribute>
        <attribute>
          <name ns="">y-component</name>
          <data type="NCName"/>
        </attribute>
      </group>
    </optional>
  </define>
  <define name="attlist.measurement">
    <optional>
      <ref name="att.grid-fitted"/>
    </optional>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="model.set-vector">
    <choice>
      <ref name="att.axis"/>
      <ref name="attlist.vector.components"/>
      <group>
        <optional>
          <ref name="att.to-line"/>
        </optional>
        <ref name="line"/>
      </group>
    </choice>
  </define>
  <define name="model.with-vector">
    <choice>
      <group>
        <ref name="att.axis"/>
        <zeroOrMore>
          <ref name="programming"/>
        </zeroOrMore>
      </group>
      <group>
        <ref name="attlist.vector.components"/>
        <zeroOrMore>
          <ref name="programming"/>
        </zeroOrMore>
      </group>
      <group>
        <optional>
          <ref name="att.to-line"/>
        </optional>
        <ref name="line"/>
        <zeroOrMore>
          <ref name="programming"/>
        </zeroOrMore>
      </group>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="xgridfit">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">xgridfit</name>
      <interleave>
        <optional>
          <ref name="att.id"/>
        </optional>
        <optional>
          <ref name="glyph-select"/>
        </optional>
        <optional>
          <ref name="infile"/>
        </optional>
        <optional>
          <ref name="outfile"/>
        </optional>
        <optional>
          <ref name="outfile-base"/>
        </optional>
        <optional>
          <ref name="outfile-script-name"/>
        </optional>
        <optional>
          <ref name="no-compile"/>
        </optional>
        <optional>
          <ref name="legacy-functions"/>
        </optional>
        <optional>
          <ref name="pre-program"/>
        </optional>
        <optional>
          <ref name="ps-private"/>
        </optional>
        <zeroOrMore>
          <ref name="constant"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="alias"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="variable"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="round-state"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="default"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="control-value"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="function"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="macro"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="glyph"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="xg.xi.include"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="constant">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">constant</name>
      <ref name="attlist.value.with.name"/>
      <empty/>
    </element>
  </define>
  <define name="variable">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">variable</name>
      <ref name="attlist.variable"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.variable" combine="interleave">
    <ref name="att.name"/>
    <optional>
      <ref name="att.value"/>
    </optional>
  </define>
  <define name="alias">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">alias</name>
      <ref name="attlist.alias"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.alias" combine="interleave">
    <ref name="att.name"/>
    <ref name="att.target"/>
  </define>
  <define name="glyph-select">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">glyph-select</name>
      <list>
        <zeroOrMore>
          <ref name="token.ps-name"/>
        </zeroOrMore>
      </list>
    </element>
  </define>
  <define name="no-compile">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">no-compile</name>
      <zeroOrMore>
        <choice>
          <ref name="glyph"/>
          <ref name="xg.xi.include"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="infile">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">infile</name>
      <data type="string"/>
    </element>
  </define>
  <define name="outfile">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">outfile</name>
      <data type="string"/>
    </element>
  </define>
  <define name="outfile-base">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">outfile-base</name>
      <data type="string"/>
    </element>
  </define>
  <define name="outfile-script-name">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">outfile-script-name</name>
      <data type="string"/>
    </element>
  </define>
  <define name="round-state">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">round-state</name>
      <ref name="attlist.round-state"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.round-state" combine="interleave">
    <ref name="att.name"/>
    <attribute>
      <name ns="">period</name>
      <choice>
        <value>half-pixel</value>
        <value>one-pixel</value>
        <value>two-pixel</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">phase</name>
      <choice>
        <value>zero</value>
        <value>one-quarter</value>
        <value>one-half</value>
        <value>three-quarters</value>
      </choice>
    </attribute>
    <attribute>
      <name ns="">threshold</name>
      <choice>
        <value>period-minus-one</value>
        <value>minus-three-eighths</value>
        <value>minus-one-quarter</value>
        <value>minus-one-eighth</value>
        <value>zero</value>
        <value>one-eighth</value>
        <value>one-quarter</value>
        <value>three-eighths</value>
        <value>one-half</value>
        <value>five-eighths</value>
        <value>three-quarters</value>
        <value>seven-eighths</value>
        <value>one</value>
        <value>nine-eighths</value>
        <value>five-quarters</value>
        <value>eleven-eighths</value>
      </choice>
    </attribute>
  </define>
  <define name="default">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">default</name>
      <ref name="attlist.default"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.default" combine="interleave">
    <attribute>
      <name ns="">type</name>
      <choice>
        <value>minimum-distance</value>
        <value>control-value-cut-in</value>
        <value>single-width</value>
        <value>single-width-cut-in</value>
        <value>delta-base</value>
        <value>delta-shift</value>
        <value>delta-break</value>
        <value>push-break</value>
        <value>max-twilight-points</value>
        <value>max-storage</value>
        <value>legacy-storage</value>
        <value>max-stack</value>
        <value>use-truetype-defaults</value>
        <value>round-state</value>
        <value>function-base</value>
        <value>compile-globals</value>
        <value>init-graphics</value>
        <value>color</value>
        <value>delete-all</value>
        <value>combine-prep</value>
        <value>auto-instr</value>
        <value>auto-hint</value>
        <value>cv-num-in-compile-if</value>
      </choice>
    </attribute>
    <ref name="att.value"/>
  </define>
  <define name="ps-private">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">ps-private</name>
      <oneOrMore>
        <ref name="entry"/>
      </oneOrMore>
    </element>
  </define>
  <define name="entry">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">entry</name>
      <ref name="attlist.entry"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.entry" combine="interleave">
    <ref name="att.name"/>
    <ref name="att.value"/>
  </define>
  <define name="control-value">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">control-value</name>
      <ref name="attlist.control-value"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.control-value" combine="interleave">
    <optional>
      <attribute>
        <name ns="">index</name>
        <text/>
      </attribute>
    </optional>
    <ref name="att.name"/>
    <attribute>
      <name ns="">value</name>
      <data type="int"/>
    </attribute>
  </define>
  <define name="function">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">function</name>
      <ref name="attlist.function"/>
      <zeroOrMore>
        <ref name="function.param"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="variable"/>
          <ref name="alias"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="variant"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.function" combine="interleave">
    <ref name="att.name"/>
    <optional>
      <ref name="att.id"/>
    </optional>
    <optional>
      <attribute>
        <name ns="">num</name>
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">return</name>
        <ref name="YESNO"/>
      </attribute>
    </optional>
  </define>
  <define name="variant">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">variant</name>
      <ref name="att.test"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="macro">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">macro</name>
      <ref name="attlist.macro"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="alias"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.macro" combine="interleave">
    <ref name="att.name"/>
    <optional>
      <ref name="att.id"/>
    </optional>
  </define>
  <define name="function.param">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">param</name>
      <ref name="attlist.param"/>
    </element>
  </define>
  <define name="param">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">param</name>
      <ref name="attlist.param"/>
      <optional>
        <choice>
          <choice>
            <ref name="set"/>
            <ref name="range"/>
            <ref name="line"/>
          </choice>
          <oneOrMore>
            <ref name="programming"/>
          </oneOrMore>
        </choice>
      </optional>
    </element>
  </define>
  <define name="attlist.param" combine="interleave">
    <ref name="att.name"/>
    <optional>
      <ref name="att.value"/>
    </optional>
  </define>
  <define name="legacy-functions">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">legacy-functions</name>
      <ref name="attlist.legacy-functions"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.legacy-functions" combine="interleave">
    <attribute>
      <name ns="">max-function-defs</name>
      <data type="nonNegativeInteger"/>
    </attribute>
  </define>
  <define name="pre-program">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">pre-program</name>
      <optional>
        <ref name="att.id"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="variable"/>
          <ref name="alias"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="glyph">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">glyph</name>
      <ref name="attlist.glyph"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="constant"/>
          <ref name="alias"/>
          <ref name="variable"/>
          <ref name="range"/>
          <ref name="line"/>
          <ref name="set"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.glyph" combine="interleave">
    <ref name="att.ps-name"/>
    <optional>
      <attribute>
        <name ns="">init-graphics</name>
        <ref name="YESNO"/>
      </attribute>
    </optional>
    <optional>
      <ref name="att.id"/>
    </optional>
  </define>
  <define name="message">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">message</name>
      <text/>
    </element>
  </define>
  <define name="point">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">point</name>
      <ref name="attlist.point"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.point" combine="interleave">
    <ref name="att.num"/>
    <optional>
      <ref name="att.zone"/>
    </optional>
  </define>
  <define name="reference">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">reference</name>
      <ref name="point"/>
    </element>
  </define>
  <define name="dual.reference">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">reference</name>
      <ref name="point"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="line">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">line</name>
      <ref name="attlist.line"/>
      <choice>
        <ref name="att.ref"/>
        <group>
          <ref name="point"/>
          <ref name="point"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="attlist.line" combine="interleave">
    <optional>
      <ref name="att.name"/>
    </optional>
    <optional>
      <ref name="att.zone"/>
    </optional>
  </define>
  <define name="range">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">range</name>
      <ref name="attlist.range"/>
      <choice>
        <ref name="att.ref"/>
        <group>
          <ref name="point"/>
          <ref name="point"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="attlist.range" combine="interleave">
    <optional>
      <ref name="att.name"/>
    </optional>
    <optional>
      <ref name="att.zone"/>
    </optional>
  </define>
  <define name="set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set</name>
      <ref name="attlist.set"/>
      <choice>
        <ref name="att.ref"/>
        <oneOrMore>
          <ref name="point"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="attlist.set" combine="interleave">
    <optional>
      <ref name="att.name"/>
    </optional>
    <optional>
      <ref name="att.zone"/>
    </optional>
  </define>
  <define name="contour">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">contour</name>
      <ref name="attlist.contour"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.contour" combine="interleave">
    <ref name="att.num"/>
    <optional>
      <ref name="att.zone"/>
    </optional>
  </define>
  <define name="zone">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">zone</name>
      <ref name="att.zone"/>
      <empty/>
    </element>
  </define>
  <define name="mirp">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">mirp</name>
      <ref name="attlist.mirp"/>
      <optional>
        <ref name="reference"/>
      </optional>
      <ref name="point"/>
    </element>
  </define>
  <define name="attlist.mirp" combine="interleave">
    <ref name="att.distance"/>
    <optional>
      <ref name="att.round"/>
    </optional>
    <optional>
      <ref name="att.cut-in"/>
    </optional>
    <optional>
      <ref name="att.boolean.min-distance"/>
    </optional>
    <optional>
      <ref name="att.set-rp0"/>
    </optional>
    <optional>
      <ref name="att.color"/>
    </optional>
  </define>
  <define name="mdrp">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">mdrp</name>
      <ref name="attlist.mdrp"/>
      <optional>
        <ref name="reference"/>
      </optional>
      <ref name="point"/>
    </element>
  </define>
  <define name="attlist.mdrp" combine="interleave">
    <optional>
      <ref name="att.round"/>
    </optional>
    <optional>
      <ref name="att.boolean.min-distance"/>
    </optional>
    <optional>
      <ref name="att.set-rp0"/>
    </optional>
    <optional>
      <ref name="att.color"/>
    </optional>
  </define>
  <define name="miap">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">miap</name>
      <ref name="attlist.miap"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="attlist.miap" combine="interleave">
    <ref name="att.distance"/>
    <optional>
      <ref name="att.round"/>
    </optional>
    <optional>
      <ref name="att.cut-in"/>
    </optional>
  </define>
  <define name="mdap">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">mdap</name>
      <optional>
        <ref name="att.round"/>
      </optional>
      <ref name="point"/>
    </element>
  </define>
  <define name="shift">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">shift</name>
      <ref name="attlist.shift"/>
      <optional>
        <ref name="reference"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="point"/>
          <ref name="range"/>
          <ref name="set"/>
          <ref name="contour"/>
          <ref name="zone"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.shift" combine="interleave">
    <optional>
      <attribute>
        <name ns="">reference-ptr</name>
        <choice>
          <value>1</value>
          <value>2</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <ref name="att.compile-if"/>
    </optional>
    <optional>
      <ref name="att.round"/>
    </optional>
  </define>
  <define name="align">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">align</name>
      <optional>
        <ref name="att.compile-if"/>
      </optional>
      <optional>
        <ref name="reference"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="point"/>
          <ref name="range"/>
          <ref name="set"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="move-point-to-intersection">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">move-point-to-intersection</name>
      <choice>
        <group>
          <ref name="point"/>
          <ref name="line"/>
          <ref name="line"/>
        </group>
        <group>
          <ref name="line"/>
          <ref name="line"/>
          <ref name="point"/>
        </group>
        <group>
          <ref name="line"/>
          <ref name="point"/>
          <ref name="line"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="interpolate">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">interpolate</name>
      <ref name="attlist.interpolate"/>
      <optional>
        <ref name="dual.reference"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="point"/>
          <ref name="range"/>
          <ref name="set"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.interpolate" combine="interleave">
    <optional>
      <ref name="att.compile-if"/>
    </optional>
    <optional>
      <ref name="att.round"/>
    </optional>
  </define>
  <define name="interpolate-untouched-points">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">interpolate-untouched-points</name>
      <optional>
        <ref name="att.axis"/>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="set-coordinate">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-coordinate</name>
      <attribute>
        <name ns="">coordinate</name>
        <text/>
      </attribute>
      <ref name="point"/>
    </element>
  </define>
  <define name="shift-absolute">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">shift-absolute</name>
      <ref name="att.pixel-distance"/>
      <oneOrMore>
        <choice>
          <ref name="point"/>
          <ref name="range"/>
          <ref name="set"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="toggle-points">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">toggle-points</name>
      <oneOrMore>
        <choice>
          <ref name="point"/>
          <ref name="range"/>
          <ref name="set"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="align-midway">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">align-midway</name>
      <ref name="point"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="flip-on">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">flip-on</name>
      <ref name="range"/>
    </element>
  </define>
  <define name="flip-off">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">flip-off</name>
      <ref name="range"/>
    </element>
  </define>
  <define name="untouch">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">untouch</name>
      <ref name="point"/>
    </element>
  </define>
  <define name="top.level.move">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">move</name>
      <ref name="attlist.move"/>
      <choice>
        <group>
          <ref name="reference"/>
          <ref name="point"/>
          <zeroOrMore>
            <ref name="nested.delta"/>
          </zeroOrMore>
          <interleave>
            <zeroOrMore>
              <ref name="align"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="interpolate"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="shift"/>
            </zeroOrMore>
          </interleave>
          <zeroOrMore>
            <ref name="nested.move"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="nested.delta"/>
          </zeroOrMore>
        </group>
        <group>
          <ref name="point"/>
          <zeroOrMore>
            <ref name="nested.delta"/>
          </zeroOrMore>
          <interleave>
            <zeroOrMore>
              <ref name="align"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="shift"/>
            </zeroOrMore>
          </interleave>
          <zeroOrMore>
            <ref name="nested.move"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="nested.delta"/>
          </zeroOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="nested.move">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">move</name>
      <ref name="attlist.move"/>
      <ref name="point"/>
      <zeroOrMore>
        <ref name="nested.delta"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <ref name="align"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="interpolate"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="shift"/>
        </zeroOrMore>
      </interleave>
      <zeroOrMore>
        <ref name="nested.move"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="nested.delta"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.move" combine="interleave">
    <choice>
      <optional>
        <ref name="att.distance"/>
      </optional>
      <optional>
        <ref name="att.pixel-distance"/>
      </optional>
    </choice>
    <optional>
      <ref name="att.round"/>
    </optional>
    <optional>
      <attribute>
        <name ns="">cut-in</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <ref name="att.value.min-distance"/>
    </optional>
    <optional>
      <ref name="att.color"/>
    </optional>
    <optional>
      <ref name="att.compile-if"/>
    </optional>
  </define>
  <define name="diagonal-stem">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">diagonal-stem</name>
      <ref name="attlist.diagonal-stem"/>
      <ref name="line"/>
      <ref name="line"/>
      <optional>
        <ref name="align"/>
      </optional>
      <optional>
        <ref name="align"/>
      </optional>
    </element>
  </define>
  <define name="attlist.diagonal-stem" combine="interleave">
    <ref name="att.distance"/>
    <optional>
      <ref name="att.round"/>
    </optional>
    <optional>
      <ref name="att.cut-in"/>
    </optional>
    <optional>
      <ref name="att.value.min-distance"/>
    </optional>
    <optional>
      <ref name="att.color"/>
    </optional>
    <optional>
      <attribute>
        <name ns="">freedom-vector</name>
        <ref name="YESNO"/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">save-vectors</name>
        <ref name="YESNO"/>
      </attribute>
    </optional>
  </define>
  <define name="top.level.delta">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">delta</name>
      <optional>
        <ref name="att.compile-if"/>
      </optional>
      <choice>
        <group>
          <ref name="point"/>
          <oneOrMore>
            <choice>
              <ref name="point.delta-set"/>
              <ref name="empty.delta-set"/>
            </choice>
          </oneOrMore>
        </group>
        <oneOrMore>
          <ref name="point.delta-set"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="nested.delta">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">delta</name>
      <optional>
        <ref name="att.compile-if"/>
      </optional>
      <optional>
        <ref name="point"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="point.delta-set"/>
          <ref name="empty.delta-set"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="control-value-delta">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">control-value-delta</name>
      <oneOrMore>
        <ref name="cv.delta-set"/>
      </oneOrMore>
    </element>
  </define>
  <define name="cv.delta-set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">delta-set</name>
      <ref name="attlist.cv.delta-set"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.cv.delta-set" combine="interleave">
    <attribute>
      <name ns="">cv</name>
      <data type="NCName"/>
    </attribute>
    <ref name="attlist.delta-set-basic"/>
  </define>
  <define name="point.delta-set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">delta-set</name>
      <ref name="attlist.delta-set-basic"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="empty.delta-set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">delta-set</name>
      <ref name="attlist.delta-set-basic"/>
      <empty/>
    </element>
  </define>
  <define name="disable-instructions">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">disable-instructions</name>
      <empty/>
    </element>
  </define>
  <define name="enable-instructions">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">enable-instructions</name>
      <empty/>
    </element>
  </define>
  <define name="set-vectors">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-vectors</name>
      <ref name="model.set-vector"/>
    </element>
  </define>
  <define name="with-vectors">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-vectors</name>
      <ref name="model.with-vector"/>
    </element>
  </define>
  <define name="set-projection-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-projection-vector</name>
      <ref name="model.set-vector"/>
    </element>
  </define>
  <define name="with-projection-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-projection-vector</name>
      <ref name="model.with-vector"/>
    </element>
  </define>
  <define name="set-freedom-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-freedom-vector</name>
      <ref name="model.set-vector"/>
    </element>
  </define>
  <define name="with-freedom-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-freedom-vector</name>
      <ref name="model.with-vector"/>
    </element>
  </define>
  <define name="set-dual-projection-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-dual-projection-vector</name>
      <optional>
        <ref name="att.to-line"/>
      </optional>
      <ref name="line"/>
    </element>
  </define>
  <define name="store-projection-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">store-projection-vector</name>
      <ref name="attlist.vector.store"/>
      <empty/>
    </element>
  </define>
  <define name="store-freedom-vector">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">store-freedom-vector</name>
      <ref name="attlist.vector.store"/>
      <empty/>
    </element>
  </define>
  <define name="srp">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">srp</name>
      <ref name="att.whichpointer"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="szp">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">szp</name>
      <ref name="attlist.szp"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.szp" combine="interleave">
    <ref name="att.whichpointer"/>
    <ref name="att.zone"/>
  </define>
  <define name="set-dropout-control">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-dropout-control</name>
      <ref name="attlist.set-dropout-control"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.set-dropout-control" combine="interleave">
    <attribute>
      <name ns="">threshold</name>
      <data type="nonNegativeInteger">
        <param name="maxInclusive">255</param>
      </data>
    </attribute>
    <attribute>
      <name ns="">flags</name>
      <data type="nonNegativeInteger">
        <param name="maxInclusive">63</param>
      </data>
    </attribute>
  </define>
  <define name="set-dropout-type">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-dropout-type</name>
      <ref name="att.dropout.value"/>
      <empty/>
    </element>
  </define>
  <define name="att.dropout.value">
    <attribute>
      <name ns="">value</name>
      <data type="nonNegativeInteger">
        <param name="maxInclusive">7</param>
      </data>
    </attribute>
  </define>
  <define name="set-control-value">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-control-value</name>
      <ref name="attlist.set-control-value"/>
      <empty/>
    </element>
  </define>
  <define name="with-control-value">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-control-value</name>
      <ref name="attlist.set-control-value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.set-control-value" combine="interleave">
    <ref name="attlist.value.with.name"/>
    <optional>
      <ref name="att.unit"/>
    </optional>
  </define>
  <define name="set-control-value-cut-in">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-control-value-cut-in</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-control-value-cut-in">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-control-value-cut-in</name>
      <ref name="att.value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-minimum-distance">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-minimum-distance</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-minimum-distance">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-minimum-distance</name>
      <ref name="att.value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-round-state">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-round-state</name>
      <ref name="att.round"/>
      <empty/>
    </element>
  </define>
  <define name="with-round-state">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-round-state</name>
      <ref name="att.round"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-single-width-cut-in">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-single-width-cut-in</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-single-width-cut-in">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-single-width-cut-in</name>
      <ref name="att.value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-single-width">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-single-width</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-single-width">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-single-width</name>
      <ref name="att.value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-auto-flip">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-auto-flip</name>
      <attribute>
        <name ns="">value</name>
        <choice>
          <value>on</value>
          <value>off</value>
        </choice>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="set-delta-base">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-delta-base</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-delta-base">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-delta-base</name>
      <ref name="att.value"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="set-delta-shift">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-delta-shift</name>
      <ref name="att.units.per.pixel"/>
      <empty/>
    </element>
  </define>
  <define name="with-delta-shift">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-delta-shift</name>
      <ref name="att.units.per.pixel"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="restore-default">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">restore-default</name>
      <ref name="attlist.restore-default"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.restore-default" combine="interleave">
    <attribute>
      <name ns="">name</name>
      <choice>
        <value>minimum-distance</value>
        <value>control-value-cut-in</value>
        <value>single-width</value>
        <value>single-width-cut-in</value>
        <value>delta-base</value>
        <value>delta-shift</value>
        <value>round-state</value>
        <value>all</value>
      </choice>
    </attribute>
  </define>
  <define name="set-equal">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">set-equal</name>
      <ref name="attlist.set-equal"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.set-equal" combine="interleave">
    <ref name="att.target"/>
    <attribute>
      <name ns="">source</name>
      <text/>
    </attribute>
  </define>
  <define name="control-value-index">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">control-value-index</name>
      <ref name="attlist.control-value-index"/>
      <empty/>
    </element>
  </define>
  <define name="form.control-value-index">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">control-value-index</name>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.control-value-index" combine="interleave">
    <ref name="att.value"/>
    <ref name="att.result-to"/>
  </define>
  <define name="add">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">add</name>
      <ref name="attlist.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.add">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">add</name>
      <ref name="attlist.form.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="subtract">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">subtract</name>
      <ref name="attlist.subtract"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.subtract" combine="interleave">
    <attribute>
      <name ns="">minuend</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">subtrahend</name>
      <text/>
    </attribute>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="form.subtract">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">subtract</name>
      <ref name="attlist.form.subtract"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.form.subtract" combine="interleave">
    <optional>
      <attribute>
        <name ns="">minuend</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">subtrahend</name>
        <text/>
      </attribute>
    </optional>
  </define>
  <define name="divide">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">divide</name>
      <ref name="attlist.divide"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.divide" combine="interleave">
    <attribute>
      <name ns="">dividend</name>
      <text/>
    </attribute>
    <attribute>
      <name ns="">divisor</name>
      <text/>
    </attribute>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="form.divide">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">divide</name>
      <ref name="attlist.form.divide"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.form.divide" combine="interleave">
    <optional>
      <attribute>
        <name ns="">dividend</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">divisor</name>
        <text/>
      </attribute>
    </optional>
  </define>
  <define name="multiply">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">multiply</name>
      <ref name="attlist.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.multiply">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">multiply</name>
      <ref name="attlist.form.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="absolute">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">absolute</name>
      <ref name="attlist.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.absolute">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">absolute</name>
      <ref name="attlist.form.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="negate">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">negate</name>
      <ref name="attlist.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.negate">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">negate</name>
      <ref name="attlist.form.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="floor">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">floor</name>
      <ref name="attlist.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.floor">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">floor</name>
      <ref name="attlist.form.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="ceiling">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">ceiling</name>
      <ref name="attlist.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.ceiling">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">ceiling</name>
      <ref name="attlist.form.single.op"/>
      <empty/>
    </element>
  </define>
  <define name="minimum">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">minimum</name>
      <ref name="attlist.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.minimum">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">minimum</name>
      <ref name="attlist.form.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="maximum">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">maximum</name>
      <ref name="attlist.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="form.maximum">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">maximum</name>
      <ref name="attlist.form.dual.op"/>
      <empty/>
    </element>
  </define>
  <define name="round">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">round</name>
      <ref name="attlist.round"/>
      <empty/>
    </element>
  </define>
  <define name="no-round">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">no-round</name>
      <ref name="attlist.round"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.round" combine="interleave">
    <ref name="att.value"/>
    <optional>
      <ref name="att.color"/>
    </optional>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="form.round">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">round</name>
      <ref name="attlist.form.round"/>
      <empty/>
    </element>
  </define>
  <define name="form.no-round">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">no-round</name>
      <ref name="attlist.form.round"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.form.round" combine="interleave">
    <optional>
      <ref name="att.value"/>
    </optional>
    <optional>
      <ref name="att.color"/>
    </optional>
  </define>
  <define name="formula">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">formula</name>
      <optional>
        <ref name="att.result-to"/>
      </optional>
      <oneOrMore>
        <ref name="form.vars"/>
      </oneOrMore>
    </element>
  </define>
  <define name="call-function">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">call-function</name>
      <ref name="attlist.call-function"/>
      <choice>
        <zeroOrMore>
          <ref name="function.param-set"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="function.with-param"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="attlist.call-function" combine="interleave">
    <ref name="att.name"/>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="call-macro">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">call-macro</name>
      <ref name="att.name"/>
      <choice>
        <zeroOrMore>
          <ref name="param-set"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="with-param"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="call-param">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">call-param</name>
      <ref name="att.name"/>
      <empty/>
    </element>
  </define>
  <define name="call-glyph">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">call-glyph</name>
      <ref name="att.ps-name"/>
      <zeroOrMore>
        <ref name="with-param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="function.param-set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">param-set</name>
      <optional>
        <attribute>
          <name ns="">opt</name>
          <ref name="YESNO"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="function.with-param"/>
      </oneOrMore>
    </element>
  </define>
  <define name="param-set">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">param-set</name>
      <oneOrMore>
        <ref name="with-param"/>
      </oneOrMore>
    </element>
  </define>
  <define name="function.with-param">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-param</name>
      <ref name="att.name"/>
      <ref name="att.value"/>
      <empty/>
    </element>
  </define>
  <define name="with-param">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">with-param</name>
      <ref name="att.name"/>
      <choice>
        <ref name="att.value"/>
        <group>
          <optional>
            <ref name="att.value"/>
          </optional>
          <choice>
            <choice>
              <ref name="set"/>
              <ref name="range"/>
              <ref name="line"/>
            </choice>
            <oneOrMore>
              <ref name="programming"/>
            </oneOrMore>
          </choice>
        </group>
      </choice>
    </element>
  </define>
  <define name="if">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">if</name>
      <ref name="att.test"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
      <optional>
        <ref name="else"/>
      </optional>
    </element>
  </define>
  <define name="else">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">else</name>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="compile-if">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">compile-if</name>
      <ref name="att.test"/>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
      <optional>
        <ref name="else"/>
      </optional>
    </element>
  </define>
  <define name="no-warning">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">no-warning</name>
      <zeroOrMore>
        <ref name="programming"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="measure-distance">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">measure-distance</name>
      <ref name="attlist.measurement"/>
      <ref name="point"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="get-coordinate">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">get-coordinate</name>
      <ref name="attlist.measurement"/>
      <ref name="point"/>
    </element>
  </define>
  <define name="getinfo">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">getinfo</name>
      <ref name="attlist.getinfo"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.getinfo" combine="interleave">
    <attribute>
      <name ns="">selector</name>
      <text/>
    </attribute>
    <optional>
      <ref name="att.result-to"/>
    </optional>
  </define>
  <define name="command">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">command</name>
      <attribute>
        <name ns="">name</name>
        <data type="token">
          <param name="pattern">[A-Z0-5]{2,9}</param>
        </data>
      </attribute>
      <choice>
        <optional>
          <attribute>
            <name ns="">modifier</name>
            <text/>
          </attribute>
        </optional>
        <zeroOrMore>
          <ref name="modifier"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="modifier">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">modifier</name>
      <ref name="attlist.modifier"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.modifier" combine="interleave">
    <ref name="att.value"/>
    <attribute>
      <name ns="">type</name>
      <choice>
        <value>set-rp0</value>
        <value>round</value>
        <value>minimum-distance</value>
        <value>color</value>
        <value>grid-fitted</value>
        <value>to-line</value>
        <value>axis</value>
        <value>ref-ptr</value>
      </choice>
    </attribute>
  </define>
  <define name="push">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">push</name>
      <text/>
    </element>
  </define>
  <define name="to-stack">
    <element>
      <name ns="http://xgridfit.sourceforge.net/Xgridfit2">to-stack</name>
      <text/>
    </element>
  </define>
  <define name="xg.xi.include.attlist">
    <optional>
      <attribute>
        <name ns="">href</name>
        <data type="anyURI"/>
      </attribute>
    </optional>
    <optional>
      <attribute a:defaultValue="xml">
        <name ns="">parse</name>
        <choice>
          <value>xml</value>
          <value>text</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">xpointer</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">encoding</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">accept</name>
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">accept-language</name>
        <text/>
      </attribute>
    </optional>
  </define>
  <define name="xg.xi.include">
    <element>
      <name ns="http://www.w3.org/2001/XInclude">include</name>
      <ref name="xg.xi.include.attlist"/>
    </element>
  </define>
  <start>
    <ref name="xgridfit"/>
  </start>
</grammar>
